*.pyc
*.swp
*.so
*.pickle
build
dist
pip-log.txt
.achievements
.coverage
.bzr
.bzrignore
.ropeproject
*.sublime-project
doc/_static/jsMath/
_build
.DS_Store
*.tar.gz
env/
tango-icon-theme*
*.profile
*~
*.egg-info
models
